# This file tells git what to ignore when commiting. For example, we do not want our npm libraries(dependencies) being pushed so we will ignore the npm folder
node_modules/
.DS_Store
.expo/
# We also do not want cache files that are created by Django
*.pyc
__pycache__/
db_key
# Please check that you are only pushing your code and not files like settings, caches, dependencies that are specific to your computer 