# React Native
node_modules/
.DS_Store
.expo/
ip.js
# Ignore Android build files
android/.gradle/
android/app/build/
android/app/src/main/res/raw/keystore.jks # Optional: Ignore your keystore file if applicable
# Ignore iOS build files
ios/build/
ios/Pods/
notificationsTest.json
tempCodeRunnerFile.js
# Django
__pycache__/
.env
.log
views.log
nohup.out
